.noteHolder{
    float: right;
    text-align: right;
}
.articleHolder{
    float: right;
    
}
.noteBtns{
    max-width: 100px;
    display: inline-block;
    /* float: left; */
    margin: 2px;
    margin-top: 8px;
}
.itemHolder{
    margin: 5px;
    display: inline-block;
}
.addNoteBtn{
display: inline-block;
}
.newNoteTitle{
    width: 100%;
}
.newNoteBody{
    width: 100%;
    height: 100px;
    resize: none;
    font-size:12px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.currentNote{
    border: 2px solid black;
    border-top: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}
.currentNoteTitle{
    margin-bottom: 0px;
    font-weight: bold;
    text-decoration: underline;
}
.currentNoteBody{
    margin-bottom: 0px;
}
.currentNote0{
    border-top: 2px solid black;
}
.deleteBtn{
   float: right;
}